:root {
  --dark1: #374151;
  --dark2: #1f2947;
  --dark3: #111827;

  --light: #eee;
  --rosequartz: #f7cac9;
  --blueturquoise: #55b4b0;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --gray: #6b7280;
  --serenity: #92a8d1;
  --blueizis: #5b5ea6;
}

* {
  color: var(--serenity);
  font-family: "Trispace", sans-serif;
  font-weight: 300;
}
body {
  background-color: var(--dark1);

  min-height: 100vh;
}
header {
  padding: 10px;
  margin: 5px;
  color: var(--light);
  background-color: #1f2947;
  border-radius: 5px;
  max-width: 1000px;
  margin: 0 auto;
}
.titleclass {
  background-color: transparent;
  margin: 1px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--gray);
}
.inputdiv {
  display: -ms-inline-grid;
  border-radius: 3px;
  background-color: transparent;
}

.inputbox {
  border-radius: 5px;
  padding: 3px;
  width: 400px;
}

.pendingdiv,
.completeddiv {
  max-width: 1020px;
  margin: 5px auto;
  min-height: 100px;
  font-size: large;
  background-color: var(--gray);
  align-items: center;
  border-radius: 5px;
  padding-top: 10px;
}

.pendingtitle,
.completedtitle {
  background-color: transparent;
  margin-bottom: 10px;
  color: var(--blueizis);
  padding-left: 10px;
}
.tasklistClass {
  padding-bottom: 15px;
}

.pendingClass,
.completedClass {
  padding: 10px;
  display: flex;
  background-color: #1f2947;
  border-radius: 10px;
  margin: 5px;
  position: relative;
}

.pendingClass {
  margin-left: 10px;
}
.completedClass {
  margin-left: 10px;
}

.completebuttonClass,
.deletebuttonClass {
  border-radius: 4px;
  color: var(--blueturquoise);
  position: absolute;

  background-color: --serenity;
  padding: 3px 7px;
  border: 0;
  margin: 3px;
  cursor: pointer;
  top: 7px;
}
.deletebuttonClass {
  right: 7px;
}

.completebuttonClass {
  right: 75px;
}
