:root {
  --dark1: #374151;
  --dark2: #1f2947;
  --dark3: #111827;

  --light: #eee;

  --pink: #ec4899;
  --purple: #8b5cf6;
  --gray: #6b7280;
  --serenity: #92a8d1;
}

* {
  background-color: var(--dark1);
  color: var(--serenity);
  font-family: "Trispace", sans-serif;
  font-weight: 300;
}
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  padding: 10px;
  margin: 5px;
  color: var(--light);
  background-color: #1f2947;
  border-radius: 5px;
  max-width: 1000px;
  margin: 0 auto;
}
.titleclass {
  background-color: transparent;
  margin: 1px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--gray);
}
.inputdiv {
  display: -ms-inline-grid;

  background-color: transparent;
}

.pendingClass,
.completedClass {
  padding: 10px;

  background-color: #1f2947;
  border-radius: 20px;
}

.pendingtitle,
.completedtitle {
  background-color: transparent;
}

.pendingdiv,
.completeddiv {
  max-width: 1000px;
  margin: 5px auto;
  min-height: 100px;
  font-size: large;
  background-color: var(--gray);

  border-radius: 5px;
  padding: 10px;
}
.completebuttonClass,
.deletebuttonClass {
  border-radius: 3px;
  color: white;
  border: 0;
  margin: 2px;
  background-color: --serenity;
  padding: 5px;
  flex: 1;
  float: right;
  cursor: pointer;
}
